<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>مساعد نخبة الأشعة</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>appnukba</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>يستخدم التطبيق الميكروفون للتعرف على الصوت والتحدث مع مساعد نخبة الأشعة الذكي.</string>
	<key>NSCameraUsageDescription</key>
	<string>يستخدم التطبيق الكاميرا لالتقاط صور الأشعة التي يختار المستخدم تحليلها داخل التطبيق.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>يستخدم التطبيق مكتبة الصور لاختيار الصور والملفات الطبية التي يحددها المستخدم للتحليل.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>يستخدم التطبيق مكتبة الصور لحفظ الصور التي يطلب المستخدم حفظها.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>يستخدم التطبيق التعرف على الكلام لتحويل كلام المستخدم إلى نصوص وأسئلة عند تفعيل الميزة.</string>
</dict>
</plist>
